<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="locacoes" class="example-table"
            matSort matSortActive="titulo" matSortDisableClear matSortDirection="asc">
        
            <!-- Coluna ID -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- Coluna CPF Cliente -->
            <ng-container matColumnDef="cpf_cliente">
                <th mat-header-cell *matHeaderCellDef>CPF Cliente</th>
                <td mat-cell *matCellDef="let row">{{row.cpf_cliente | mask:"000.000.000-00"}}</td>
            </ng-container>
            
            <!-- Coluna CNPJ Locadora -->
            <ng-container matColumnDef="cnpj_locadora">
                <th mat-header-cell *matHeaderCellDef>CNPJ Locadora</th>
                <td mat-cell *matCellDef="let row">{{row.cnpj_locadora | mask:"000.000.000-00"}}</td>
            </ng-container>

            <!-- Coluna Dia -->
            <ng-container matColumnDef="dia">
                <th mat-header-cell *matHeaderCellDef>Dia</th>
                <td mat-cell *matCellDef="let row">{{row.dia | mask:"00/00/0000"}}</td>
            </ng-container>

            <!-- Coluna Hora -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let row">{{row.hora | mask:"00:00"}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/locacao-detalhes/', row.id]"></tr>
        </table>
    </div>
</div>