<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/locadoras']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h4>Nome: {{locadora.nome}}</h4>
                <h5>Id: {{locadora.id}}</h5>
            </mat-card-title>
            <mat-card-subtitle>CNPJ: {{locadora.cnpj | mask:"000.000.000-00"}}</mat-card-subtitle>
            <mat-card-subtitle>Cidade: {{locadora.cidade}}</mat-card-subtitle>
            <mat-card-subtitle>E-mail: {{locadora.username}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/locadora-edicao', locadora.id]">
                <mat-icon>edit</mat-icon>
            </a>
            <a mat-flat-button color="warn" (click)="deleteLocadora(locadora.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>